Repository retaildevcrews/helium-java, pull requests merged in 2020-07, with the labels that each got.

#280 Request logging Middleware
  pom.xml
  src/main/java/com/cse/helium/app/middleware/RequestLogger.java
Labels: Java

#285 Updated annontation
  src/main/java/com/cse/helium/app/HeliumJavaApplication.java
Labels: Java, Pri1

#281 Update version endpoint
  TestFiles/baseline.json
  src/main/java/com/cse/helium/app/config/SwaggerConfig.java
  src/main/java/com/cse/helium/app/controllers/HealthzController.java
  src/main/java/com/cse/helium/app/controllers/VersionController.java
  src/main/java/com/cse/helium/app/services/configuration/JsonConfigReader.java
Labels: Java

#286 Temporarily disable BodyList calls in unit tests
  src/test/java/com/cse/helium/app/controllers/ActorControllerTest.java
  src/test/java/com/cse/helium/app/controllers/MovieControllerTest.java
Labels: Bug, Java
