Repository retaildevcrews/helium-java, pull requests merged in 2020-01, with the labels that each got.

#14 Update README.md
  README.md
Labels: Documentation, Java, size: S

#18 Upgrade CosmosDB SDK to 2.2.1.M1 SDK, update /movies, /actors, /genres, /featured , added robots.txt endpoint
  README.md
  pom.xml
  saveenv.sh
  src/main/java/com/microsoft/azure/helium/Application.java
  src/main/java/com/microsoft/azure/helium/app/Constants.java
  src/main/java/com/microsoft/azure/helium/app/RobotsController.java
  src/main/java/com/microsoft/azure/helium/app/actor/ActorsController.java
  src/main/java/com/microsoft/azure/helium/app/actor/ActorsRepository.java
  src/main/java/com/microsoft/azure/helium/app/actor/ActorsService.java
  src/main/java/com/microsoft/azure/helium/app/featured/Featured.java
  src/main/java/com/microsoft/azure/helium/app/featured/FeaturedController.java
  src/main/java/com/microsoft/azure/helium/app/featured/FeaturedRepository.java
  src/main/java/com/microsoft/azure/helium/app/featured/FeaturedService.java
  src/main/java/com/microsoft/azure/helium/app/genre/GenresRepository.java
  src/main/java/com/microsoft/azure/helium/app/movie/Movie.java
  src/main/java/com/microsoft/azure/helium/app/movie/MovieBase.java
  src/main/java/com/microsoft/azure/helium/app/movie/MoviesController.java
  src/main/java/com/microsoft/azure/helium/app/movie/MoviesRepository.java
  src/main/java/com/microsoft/azure/helium/app/movie/MoviesService.java
  src/main/java/com/microsoft/azure/helium/config/RepositoryConfig.java
  src/main/java/com/microsoft/azure/helium/config/SwaggerConfig.java
  src/main/java/com/microsoft/azure/helium/health/CosmosDbHealthIndicator.java
  src/main/resources/ApplicationInsights.xml
  src/main/resources/application.properties
  src/main/resources/robots.txt
  src/test/java/com/microsoft/azure/helium/app/actor/ActorsControllerTest.java
  src/test/java/com/microsoft/azure/helium/app/actor/ActorsRepositoryIT.java
  src/test/java/com/microsoft/azure/helium/app/actor/ActorsServiceTest.java
  src/test/java/com/microsoft/azure/helium/app/featured/FeaturedControllerTest.java
  src/test/java/com/microsoft/azure/helium/app/genre/GenresControllerTest.java
  src/test/java/com/microsoft/azure/helium/app/movie/MoviesControllerTest.java
  src/test/java/com/microsoft/azure/helium/app/movie/MoviesRepositoryIT.java
  src/test/java/com/microsoft/azure/helium/app/movie/MoviesServiceTest.java
  src/test/java/com/microsoft/azure/helium/health/CosmosDbHealthIndicatorIT.java
  src/test/java/com/microsoft/azure/helium/health/CosmosDbHealthIndicatorTest.java
Labels: Bug, Pri1, Release, size: M

#20 added github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/tasks.md
  .github/ISSUE_TEMPLATE/user-story--dod-review.md
  .github/ISSUE_TEMPLATE/user_story.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Java

#25 updated templates from Helium
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/dod-review.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/release.md
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/tasks.md
  .github/ISSUE_TEMPLATE/user-story.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Java

#26 Version api
  Dockerfile
  pom.xml
  src/main/java/com/microsoft/azure/helium/app/VersionController.java
  src/main/java/com/microsoft/azure/helium/config/BuildConfig.java
Labels: Java, Pri1

#28 Version api
  pom.xml
  src/main/java/com/microsoft/azure/helium/app/Constants.java
  src/main/java/com/microsoft/azure/helium/app/HealthzController.java
  src/main/java/com/microsoft/azure/helium/app/actor/ActorsController.java
  src/main/java/com/microsoft/azure/helium/app/actor/ActorsService.java
  src/main/java/com/microsoft/azure/helium/app/featured/FeaturedService.java
  src/main/java/com/microsoft/azure/helium/app/movie/MoviesController.java
  src/main/java/com/microsoft/azure/helium/app/movie/MoviesService.java
  src/main/java/com/microsoft/azure/helium/config/BuildConfig.java
  src/main/java/com/microsoft/azure/helium/config/SwaggerConfig.java
  src/main/java/com/microsoft/azure/helium/health/ietf/CosmosDbError.java
  src/main/java/com/microsoft/azure/helium/health/ietf/CosmosDbSuccess.java
  src/main/java/com/microsoft/azure/helium/health/ietf/ErrorDetails.java
  src/main/java/com/microsoft/azure/helium/health/ietf/HealthzError.java
  src/main/java/com/microsoft/azure/helium/health/ietf/HealthzErrorDetails.java
  src/main/java/com/microsoft/azure/helium/health/ietf/HealthzSuccess.java
  src/main/java/com/microsoft/azure/helium/health/ietf/HealthzSuccessDetails.java
  src/main/java/com/microsoft/azure/helium/health/ietf/IeTfStatus.java
  src/main/java/com/microsoft/azure/helium/health/ietf/SuccessDetails.java
  src/main/resources/application.properties
Labels: Java, Pri1

#30 handling-404-response
  src/main/java/com/microsoft/azure/helium/app/CustomErrorController.java
  src/main/java/com/microsoft/azure/helium/config/SwaggerConfig.java
  src/main/resources/application.properties
Labels: Java

#32 Evillgenius75/gha cicd
  .github/workflows/dockerByPR.yml
  .github/workflows/dockerCI.yml
  README.md
Labels: Enhancement, Java, Pri1, size: S

#34 Cosmos with retry option
  src/main/java/com/microsoft/azure/helium/app/HealthzController.java
  src/main/java/com/microsoft/azure/helium/app/movie/MoviesService.java
  src/main/java/com/microsoft/azure/helium/config/RepositoryConfig.java
Labels: Java, Pri1

#36 ietf-bug-fixes
  src/main/java/com/microsoft/azure/helium/app/HealthzController.java
Labels: Bug, Java, Pri1

#37 remove extra duration parameter
  src/main/java/com/microsoft/azure/helium/app/HealthzController.java
Labels: Bug, Java, Pri1

#38 fix cicd process for beta tags and ignore README.md file
  .github/workflows/dockerByPR.yml
  .github/workflows/dockerCI.yml
Labels: Bug, Java, Pri1, size: S
