Repository retaildevcrews/helium-java, pull requests merged in 2020-04, with the labels that each got.

#156 Get all movies by year
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/Controller.java
  src/main/java/com/microsoft/cse/helium/app/controllers/MoviesController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/GenresDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/IDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/MoviesDao.java
  src/main/java/com/microsoft/cse/helium/app/utils/ParameterValidator.java
  src/test/java/com/microsoft/cse/helium/app/controllers/MovieControllerTest.java
Labels: Enhancement, Java, Pri1, size: S

#163 filter by rating and actorid
  src/main/java/com/microsoft/cse/helium/app/controllers/Controller.java
  src/main/java/com/microsoft/cse/helium/app/controllers/MoviesController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/IDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/MoviesDao.java
  src/test/java/com/microsoft/cse/helium/app/controllers/MovieControllerTest.java
Labels: Enhancement, Java, Pri1, size: S

#165 Movies and Actor DAO getAll() Refactor
  src/main/java/com/microsoft/cse/helium/app/controllers/Controller.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/IDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/MoviesDao.java
Labels: Java, Pri1

#169 Remediation for birthYear, deathYear, and roles response serialization
  src/main/java/com/microsoft/cse/helium/app/models/ActorBase.java
  src/main/java/com/microsoft/cse/helium/app/models/Role.java
  src/main/java/com/microsoft/cse/helium/app/utils/ParameterValidator.java
Labels: Java, Pri1, size: S

#170 Filter by genre
  Dockerfile
  pom.xml
  src/main/java/com/microsoft/cse/helium/app/config/BuildConfig.java
  src/main/java/com/microsoft/cse/helium/app/controllers/Controller.java
  src/main/java/com/microsoft/cse/helium/app/controllers/RobotsController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/GenresDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/MoviesDao.java
  src/main/java/com/microsoft/cse/helium/app/utils/ParameterValidator.java
  src/test/java/com/microsoft/cse/helium/app/controllers/MovieControllerTest.java
Labels: Enhancement, Java, Pri1, size: M

#172 fixing genre=Action bug
  src/main/java/com/microsoft/cse/helium/app/dao/GenresDao.java
  src/test/java/com/microsoft/cse/helium/app/controllers/MovieControllerTest.java
Labels: Bug, Java, Pri1, size: S

#178 update CI to tag image with beta instead of dev
  .github/workflows/dockerByPR.yml
  .github/workflows/dockerCI.yml
Labels: Java, Pri1, size: S

#182 Error response standardization for getActor and getMovie
  pom.xml
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/Controller.java
  src/main/java/com/microsoft/cse/helium/app/controllers/MoviesController.java
  src/test/resources/application.properties
Labels: Java, Pri1, size: M

#188 add logging to controllers with params and general exception catch an…
  src/main/java/com/microsoft/cse/helium/app/config/BuildConfig.java
  src/main/java/com/microsoft/cse/helium/app/config/CosmosDbConfig.java
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/Controller.java
  src/main/java/com/microsoft/cse/helium/app/controllers/FeaturedController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/GenresController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/MoviesController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/SecretController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/VersionController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
Labels: Java, Pri1

#189 Update Error Conditions for Flux to Return Flux.error()
  src/main/java/com/microsoft/cse/helium/app/config/CosmosDbConfig.java
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/Controller.java
  src/main/java/com/microsoft/cse/helium/app/controllers/MoviesController.java
  src/main/resources/application.properties
  src/test/java/com/microsoft/cse/helium/app/controllers/ActorControllerTest.java
  src/test/java/com/microsoft/cse/helium/app/controllers/MovieControllerTest.java
Labels: Enhancement, Java, Pri1

#196 Update Release template
  .github/ISSUE_TEMPLATE/release.md
Labels: Documentation, Pri1

#199 Revert "Add healthz and healthz/ietf"
  src/main/java/com/microsoft/cse/helium/app/Constants.java
  src/main/java/com/microsoft/cse/helium/app/controllers/HealthzController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/health/ietf/IeTfStatus.java
  src/main/resources/application.properties
  src/test/java/com/microsoft/cse/helium/app/controllers/GenreControllerTest.java
  src/test/java/com/microsoft/cse/helium/app/controllers/HealthzControllerTest.java
  src/test/resources/application.properties
Labels: Bug, Java

#203 updated port to 4120
  Dockerfile
  src/main/resources/application.properties
  src/test/resources/application.properties
Labels: Java, Pri1

#175 Update readme issue 141
  README.md
Labels: Documentation, Java, Pri1, size: S

#210 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#215 Identity and KeyVault SDK Updates
  pom.xml
  src/main/java/com/cse/helium/app/controllers/SecretController.java
  src/main/java/com/cse/helium/app/services/keyvault/IKeyVaultService.java
  src/main/java/com/cse/helium/app/services/keyvault/KeyVaultService.java
  src/main/java/com/cse/helium/app/utils/CommonUtils.java
  src/main/resources/application.properties
Labels: Java, Pri1, size: M

#216 changed logger to log error for now KV name and print usage; updated …
  src/main/java/com/cse/helium/app/services/keyvault/EnvironmentReader.java
  src/main/java/com/cse/helium/app/utils/CommonUtils.java
Labels: Java, Pri1, size: S

#219 Jofultz silentfail
  src/main/java/com/cse/helium/app/utils/CommonUtils.java
Labels: Java, Pri1
