Repository retaildevcrews/helium-java, pull requests merged in 2020-03, with the labels that each got.

#91 add handler for robots and removed static file
  src/main/java/com/microsoft/cse/helium/app/controllers/RobotsController.java
  src/main/resources/static/robots.txt
Labels: Java, size: S

#94 Actors Controller + CosmosDB access layer with async
  .gitignore
  pom.xml
  src/main/java/com/microsoft/cse/helium/app/Constants.java
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/VersionController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/models/Actor.java
  src/main/java/com/microsoft/cse/helium/app/models/ActorBase.java
  src/main/java/com/microsoft/cse/helium/app/models/ActorsRepository.java
  src/main/java/com/microsoft/cse/helium/app/models/Movie.java
  src/main/java/com/microsoft/cse/helium/app/models/MovieBase.java
  src/main/java/com/microsoft/cse/helium/app/models/Role.java
  src/main/resources/application.properties
Labels: Java, Pri1

#98 Adds prefetch for KeyVault Secrets
  src/main/java/com/microsoft/cse/helium/HeliumJavaApplication.java
  src/main/java/com/microsoft/cse/helium/app/controllers/SecretController.java
  src/main/java/com/microsoft/cse/helium/app/services/configuration/ConfigurationService.java
  src/main/java/com/microsoft/cse/helium/app/services/configuration/IConfigurationService.java
  src/main/java/com/microsoft/cse/helium/app/services/keyvault/IKeyVaultService.java
  src/main/java/com/microsoft/cse/helium/app/services/keyvault/KeyVaultService.java
Labels: Java, Pri1

#100 Scrub and Refactor
  src/main/java/com/microsoft/cse/helium/HeliumJavaApplication.java
  src/main/java/com/microsoft/cse/helium/app/Constants.java
  src/main/java/com/microsoft/cse/helium/app/config/CosmosDbConfig.java
  src/main/java/com/microsoft/cse/helium/app/config/WebConfig.java
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/RobotsController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/SecretController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/VersionController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/BaseCosmosDbDao.java
  src/main/java/com/microsoft/cse/helium/app/services/configuration/ConfigurationService.java
  src/main/java/com/microsoft/cse/helium/app/services/configuration/IConfigurationService.java
  src/main/java/com/microsoft/cse/helium/app/services/keyvault/IKeyVaultService.java
  src/main/java/com/microsoft/cse/helium/app/services/keyvault/KeyVaultService.java
Labels: Java

#111 Actorbyactorid
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/models/HeliumConfig.java
  src/main/java/com/microsoft/cse/helium/app/utils/Validator.java
  src/main/resources/application.properties
  src/test/java/com/microsoft/cse/helium/app/controllers/ActorControllerTest.java
Labels: Enhancement, Java, Pri1, size: M

#113 mikv unit-tests
  src/main/java/com/microsoft/cse/helium/app/controllers/SecretController.java
  src/test/java/com/microsoft/cse/helium/app/controllers/SecretControllerTest.java
Labels: Enhancement, Java, Pri1, size: S

#118 Param validation actors
  src/main/java/com/microsoft/cse/helium/app/Constants.java
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/SecretController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/utils/ParameterValidator.java
  src/main/java/com/microsoft/cse/helium/app/utils/Validator.java
  src/test/java/com/microsoft/cse/helium/app/controllers/ActorControllerTest.java
  src/test/java/com/microsoft/cse/helium/app/controllers/SecretControllerTest.java
Labels: Enhancement, Java, Pri1, size: S

#117 Enable CICD with push to image:dev tag
  .github/workflows/dockerByPR.yml
  .github/workflows/dockerCI.yml
Labels: Java, Pri1, size: S

#125 Evillgenius75/cicdpatch
  .github/workflows/dockerByPR.yml
  .github/workflows/dockerCI.yml
Labels: Bug, Java, Pri1, size: S

#127 New PR for PMD and FindBug static code analysis
  .gitignore
  Dockerfile
  pom.xml
  src/main/java/com/microsoft/cse/helium/app/config/CosmosDbConfig.java
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/models/Actor.java
  src/main/java/com/microsoft/cse/helium/app/models/ActorBase.java
  src/main/java/com/microsoft/cse/helium/app/models/Movie.java
  src/main/java/com/microsoft/cse/helium/app/models/Role.java
  src/main/java/com/microsoft/cse/helium/app/services/configuration/ConfigurationService.java
  src/main/java/com/microsoft/cse/helium/app/services/keyvault/KeyVaultService.java
  src/main/resources/application.properties
  src/test/java/com/microsoft/cse/helium/app/controllers/ActorControllerTest.java
  src/test/java/com/microsoft/cse/helium/app/controllers/SecretControllerTest.java
Labels: Enhancement, Java, Pri1

#130 Genres api
  Dockerfile
  src/main/java/com/microsoft/cse/helium/app/controllers/GenresController.java
  src/main/java/com/microsoft/cse/helium/app/dao/GenresDao.java
  src/main/java/com/microsoft/cse/helium/app/models/ActorsRepository.java
  src/main/java/com/microsoft/cse/helium/app/models/Genre.java
  src/test/java/com/microsoft/cse/helium/app/controllers/ActorControllerTest.java
  src/test/java/com/microsoft/cse/helium/app/controllers/GenreControllerTest.java
  src/test/resources/application.properties
Labels: Enhancement, Java, Pri1, size: M

#135 single movie read
  src/main/java/com/microsoft/cse/helium/app/Constants.java
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/models/Actor.java
  src/main/java/com/microsoft/cse/helium/app/models/Movie.java
  src/main/java/com/microsoft/cse/helium/app/utils/CommonUtils.java
Labels: Java, Pri1

#137 single movie read api
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/MoviesController.java
  src/main/java/com/microsoft/cse/helium/app/dao/MoviesDao.java
  src/main/java/com/microsoft/cse/helium/app/utils/ParameterValidator.java
  src/test/java/com/microsoft/cse/helium/app/controllers/MovieControllerTest.java
Labels: Enhancement, Java, Pri1

#143 All movies
  src/main/java/com/microsoft/cse/helium/app/Constants.java
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/Controller.java
  src/main/java/com/microsoft/cse/helium/app/controllers/GenresController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/MoviesController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/BaseCosmosDbDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/MoviesDao.java
  src/main/java/com/microsoft/cse/helium/app/models/Entity.java
  src/main/java/com/microsoft/cse/helium/app/utils/ParameterValidator.java
  src/test/java/com/microsoft/cse/helium/app/controllers/ActorControllerTest.java
  src/test/java/com/microsoft/cse/helium/app/controllers/MovieControllerTest.java
Labels: Enhancement, Java, Pri1, size: S

#146 Bug Fix #144 - MoviesController should pass Entity.Movie
  src/main/java/com/microsoft/cse/helium/app/Constants.java
  src/main/java/com/microsoft/cse/helium/app/controllers/MoviesController.java
  src/main/java/com/microsoft/cse/helium/app/dao/MoviesDao.java
  src/test/java/com/microsoft/cse/helium/app/controllers/MovieControllerTest.java
Labels: Bug, Java, Pri1, size: S

#147 Generic for getAll refactor
  src/main/java/com/microsoft/cse/helium/app/Constants.java
  src/main/java/com/microsoft/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/microsoft/cse/helium/app/controllers/Controller.java
  src/main/java/com/microsoft/cse/helium/app/controllers/MoviesController.java
  src/main/java/com/microsoft/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/BaseCosmosDbDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/IDao.java
  src/main/java/com/microsoft/cse/helium/app/dao/MoviesDao.java
  src/test/java/com/microsoft/cse/helium/app/controllers/MovieControllerTest.java
  src/test/java/com/microsoft/cse/helium/app/controllers/VersionControllerTest.java
Labels: Java, Pri1
