Repository retaildevcrews/helium-java, pull requests merged in 2020-05, with the labels that each got.

#227 Set log level to NONE for KV client
  src/main/java/com/cse/helium/app/services/keyvault/KeyVaultService.java
Labels: Java, Pri1

#229 set kv logging in accordance with app logging
  src/main/java/com/cse/helium/app/services/keyvault/KeyVaultService.java
Labels: Bug, Java, Pri1

#222 Removed Suffixes from KeyVaultService Methods
  src/main/java/com/cse/helium/app/services/configuration/ConfigurationService.java
  src/main/java/com/cse/helium/app/services/keyvault/IKeyVaultService.java
  src/main/java/com/cse/helium/app/services/keyvault/KeyVaultService.java
Labels: Java, Pri1, size: S

#233 swagger update
  src/main/resources/static/swagger.json
Labels: Java

#235 sql parameterization
  src/main/java/com/cse/helium/app/Constants.java
  src/main/java/com/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/cse/helium/app/dao/BaseCosmosDbDao.java
  src/main/java/com/cse/helium/app/dao/GenresDao.java
  src/main/java/com/cse/helium/app/dao/MoviesDao.java
Labels: Java, Pri1

#236 updated ConsistencyLevel
  src/main/java/com/cse/helium/app/config/CosmosDbConfig.java
Labels: Java, Pri1, size: S

#240 Update dockerByPR.yml
  .github/workflows/dockerByPR.yml
Labels: Java, Pri1, size: S

#244 added generic type for ResponseEntity<>
  src/main/java/com/cse/helium/app/controllers/IndexController.java
  src/main/java/com/cse/helium/app/services/keyvault/EnvironmentReader.java
Labels: Java, Pri1, size: S

#247 linter error fix
  src/main/java/com/cse/helium/app/error/GlobalErrorWebExceptionHandler.java
Labels: Java, Pri1
