Repository retaildevcrews/helium-java, pull requests merged in 2020-08, with the labels that each got.

#288 Upgrade to Java SDK 11
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-install.sh
  Dockerfile
  pom.xml
Labels: Enhancement

#290 Version Endpoint Consistency with other Helium Repos
  src/main/java/com/cse/helium/app/controllers/VersionController.java
Labels: Java

#292 Renaming MSI references to MI
  saveenv.sh
  src/main/java/com/cse/helium/app/Constants.java
  src/main/java/com/cse/helium/app/services/keyvault/EnvironmentReader.java
  src/main/java/com/cse/helium/app/services/keyvault/KeyVaultService.java
  src/main/java/com/cse/helium/app/utils/CommonUtils.java
  src/test/java/com/cse/helium/app/services/keyvault/KeyVaultServiceTest.java
  src/test/resources/application.properties
Labels: Java

#293 Update CosmosDB SDK
  pom.xml
  src/test/java/com/cse/helium/app/controllers/ActorControllerTest.java
  src/test/java/com/cse/helium/app/controllers/MovieControllerTest.java
  src/test/java/com/cse/helium/app/controllers/VersionControllerTest.java
Labels: Java, Pri1, size: S

#294 Added .NET Core and WebValidate to custom Codespaces Dockerfile
  .devcontainer/Dockerfile
  .devcontainer/post-install.sh
Labels: Bug, Java

#295 Fixed issue for webvalidate in custom Dockerfile
  .devcontainer/.bashrc-append
  .devcontainer/Dockerfile
Labels: Bug, Java

#297 Codespaces docker
  .devcontainer/Dockerfile
  .github/workflows/codespaces.yml
  .github/workflows/dockerCI.yml
Labels: Enhancement, Java

#298 Standardize 400 Responses
  TestFiles/bad.json
  TestFiles/e2e.json
  src/main/java/com/cse/helium/app/Constants.java
  src/main/java/com/cse/helium/app/controllers/ActorsController.java
  src/main/java/com/cse/helium/app/controllers/Controller.java
  src/main/java/com/cse/helium/app/controllers/MoviesController.java
  src/main/java/com/cse/helium/app/controllers/VersionController.java
  src/main/resources/static/swagger/helium.json
  src/test/java/com/cse/helium/app/controllers/ActorControllerTest.java
  src/test/java/com/cse/helium/app/controllers/MovieControllerTest.java
Labels: Java

#296 Drain connections + graceful shutdown
  pom.xml
  src/main/java/com/cse/helium/app/error/GlobalErrorWebExceptionHandler.java
  src/main/resources/application.properties
Labels: Java

#299 Updated min and max length values for q parameter
  src/main/resources/static/swagger/helium.json
Labels: Java

#301 Updated README.md to set env variables for bash runs
  README.md
Labels: Documentation, Java

#305 Pom upgrades
  README.md
  pom.xml
  src/test/java/com/cse/helium/app/controllers/ActorControllerTest.java
  src/test/java/com/cse/helium/app/controllers/FeaturedMovieControllerTest.java
  src/test/java/com/cse/helium/app/controllers/GenreControllerTest.java
  src/test/java/com/cse/helium/app/controllers/HealthzControllerTest.java
  src/test/java/com/cse/helium/app/controllers/MovieControllerTest.java
  src/test/java/com/cse/helium/app/controllers/SecretControllerTest.java
  src/test/java/com/cse/helium/app/controllers/VersionControllerTest.java
Labels: Java

#306 Updating ci-cd and GH templates, master to main changes
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/checkpoint.md
  .github/ISSUE_TEMPLATE/comparison.md
  .github/ISSUE_TEMPLATE/designreview.md
  .github/ISSUE_TEMPLATE/dod-review.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/issue.md
  .github/ISSUE_TEMPLATE/release.md
  .github/ISSUE_TEMPLATE/retro.md
  .github/ISSUE_TEMPLATE/survey.md
  .github/ISSUE_TEMPLATE/task.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/dockerCI.yml
Labels: Java

#308 Moving partition key method to model classes
  src/main/java/com/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/cse/helium/app/dao/BaseCosmosDbDao.java
  src/main/java/com/cse/helium/app/dao/MoviesDao.java
  src/main/java/com/cse/helium/app/models/Actor.java
  src/main/java/com/cse/helium/app/models/Movie.java
  src/main/java/com/cse/helium/app/utils/CommonUtils.java
Labels: Java

#309 Renaming partition key method
  src/main/java/com/cse/helium/app/dao/ActorsDao.java
  src/main/java/com/cse/helium/app/dao/MoviesDao.java
  src/main/java/com/cse/helium/app/models/Actor.java
  src/main/java/com/cse/helium/app/models/Movie.java
Labels: Java
